body {
    background-color: #FBFBFE;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 30px;
}

.array-container {
    position: absolute;
    left: 100px;
    /* right: 100px; */
    /* margin: 50px; */
    padding-top: 100px;
}

.title {
    font-size: 50px;
    /* font-style: oblique; */
    color: #AA71FF;
}

.array-bar {
    width: 10px;
    height: 30px;
    background-color: #AA71FF;
    display: inline-block;
    margin: 0 5px;
}

.bubble-button {
    width: 100px;
    height: 30px;
    background-color: #4179BC;
    display: inline-block;
    color: #FBFBFE;
    top: 30px;
    left: -400px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 10px;
}

.reset-button {
    width: 150px;
    height: 30px;
    background-color: #FD817D;
    display: inline-block;
    color: #FBFBFE;
    top: 30px;
    left: -400px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 10px;
}

.insert-button {
    width: 100px;
    height: 30px;
    background-color: #4179BC;
    display: inline-block;
    color: #FBFBFE;
    top: 30px;
    left: -400px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 10px;
}

.selection-button {
    width: 100px;
    height: 30px;
    background-color: #4179BC;
    display: inline-block;
    color: #FBFBFE;
    top: 30px;
    left: -400px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 10px;
}

.merge-button {
    width: 100px;
    height: 30px;
    background-color: #4179BC;
    display: inline-block;
    color: #FBFBFE;
    top: 30px;
    left: -400px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 10px;
}

.quick-button {
    width: 100px;
    height: 30px;
    background-color: #4179BC;
    display: inline-block;
    color: #FBFBFE;
    top: 30px;
    left: -400px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 10px;
}

.buttons {
    align-content: center;
    margin: 10px auto;
    max-width: 80%;
}

.analysis {
    vertical-align: middle;
    width: 70%;
    padding-top: 70px;
    /* margin-bottom: 30px; */
}

.algo {
    height: 30px;
    background-color: #4179BC;
    color: #FBFBFE;
    top: 30px;
    border-radius: 10px;
    font-size: 25px;
}

.time {
    font-size: 20px;
    margin-top: 10px;
}

.space {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* @media (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-top: 30px;
        max-width: 100%;
    }

    .array-bar {
        width: 8px;
        height: 5px;
        background-color: #AA71FF;
        display: inline-block;
        margin: 1px;
    }

    .array-container {
        margin: 0 auto;
        width: 50%;
        margin-left: 200px;
    }

    .title {
        font-size: 40px;
        color: #AA71FF;
    }

    .buttons {
        display: inline-block;
        align-content: center;
        margin: 10px -10px auto -10px;
        max-width: 100%;
    }

    .analysis {
        width: 50%;
        margin: 0 auto;
        padding-top: 140px;
        /* margin-left: 180px; */
    /* } */

/* } */


@media screen and (max-width: 1400px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "graph analysis";
    }

    .array-bar {
        width: 10px;
        height: 5px;
        background-color: #AA71FF;
        display: inline-block;
        margin: 1px;
    }

    .array-container {
        grid-area: graph;
        /* width: 30%; */
        /* margin: 0 auto; */
    }

    .title {
        font-size: 40px;
        color: #AA71FF;
        padding-left: 50%;
        /* grid-area: graph; */
    }

    .buttons {
        /* display: inline-block; */
        /* align-content: center; */
        /* margin: 10px -10px auto -10px; */
        max-width: 100%;
    }

    .analysis {
        grid-area: analysis;
        width: 50%;
        margin: 0 auto;
        /* padding-top: 140px; */
        padding-left: 180px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "graph analysis";
    }

    .array-bar {
        width: 10px;
        height: 5px;
        background-color: #AA71FF;
        display: inline-block;
        margin: 1px;
    }

    .array-container {
        grid-area: graph;
        width: 60%;
        /* margin: 0 auto; */
    }

    .title {
        font-size: 40px;
        color: #AA71FF;
        padding-left: 50%;
        /* padding-left: 340px; */
        /* grid-area: graph; */
    }

    .buttons {
        /* display: inline-block; */
        /* align-content: center; */
        /* margin: 10px -10px auto -10px; */
        max-width: 100%;
    }

    .analysis {
        grid-area: analysis;
        width: 50%;
        margin: 0 auto;
        /* padding-top: 140px; */
        padding-left: 180px;
    }
}
