html, body {
    max-width: 1200px;
    margin: 0 120px;
}

.nav-outer {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.logo {
    font-family: 'Montserrat', sans-serif;
}

.link-header {
    font-family: 'Lato', sans-serif;
    color: #2E3630;
    font-size: 18px;
    cursor: pointer;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #2E3630;
    font-size: 16px;
    margin-left: 40px;
}

.bubble-sort:hover {
    border-left: 2px solid #c2b0be;
    padding-right: 20px;
}
